/* Updated Lab Theme (mobile-first) */
body {
  font-family: "Nunito Sans";
}

a {
  color: #0033a0;
}

h1 {
  font-size: 30px;
  border-bottom: 1px solid #dcddde;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-family: "Nunito Sans";
  font-weight: 600;
  letter-spacing: 0.25px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Oswald";
}

h3 {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.header {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__logo-container h1 {
  font-family: "Nunito Sans";
  border-bottom-width: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.header__logo--large {
  display: none;
}

.header__logo {
  max-height: 55px;
  margin-right: 10px;
}

.header__site-name {
  font-size: 16px;
  margin: 0;
}

.header__site-name a {
  color: #0033a0;
}

.header__menu-toggle {
  margin: 0;
  padding-left: 40px;
}

.header__menu-toggle .icon-bar {
  background-color: #333;
}

.primary-nav {
  background-color: #0033a0;
}

.primary-nav .navbar-nav {
  margin: 0;
}

.primary-nav .navbar-collapse {
  padding: 0;
}

.primary-nav .menu-item {
  border-bottom: 1px solid #b1c9e8;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
}

.primary-nav .menu-item.last {
  border-bottom-width: 0;
}

.primary-nav .menu-item a {
  font-family: "Nunito Sans";
  color: #ffffff;
  line-height: 30px;
  font-weight: 600;
}

.primary-nav .menu-item a:focus,
.primary-nav .menu-item a:hover {
  background-color: #002880;
}

.lab-slider {
  margin-bottom: 20px;
}

.lab-slider .carousel-indicators {
  margin-bottom: 0;
}

.lab-slider .carousel-caption h3,
.lab-slider .carousel-caption p {
  font-size: 16px;
  letter-spacing: 0.25px;
  line-height: 1.25;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.lab-slider .carousel-caption a {
  color: #ffffff;
}

.lab-messages {
  margin-left: 40px;
  margin-right: 40px;
}

.lab__content-wrapper {
  margin: 0 40px 40px 40px;
}

.lab-content p {
  line-height: 1.5;
  margin-bottom: 10px;
}

.lab-button-group {
  margin: 20px 0;
}

.lab-button-group .container-fluid {
  padding: 0;
}

.lab-button-group .lab-button-group__button {
  font-family: "Oswald";
  background-color: #0033a0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 20px;
  height: 60px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  box-shadow: 3px 3px #b1c9e8;
  /* border-right: 5px solid #B1C9E8;
	border-bottom: 5px solid #B1C9E8; */
}

.lab-button-group .lab-button-group__button:hover {
  text-decoration: none;
  background-color: #002880;
}

.lab-highlighted {
  margin-left: 40px;
  margin-right: 40px;
}

.news {
  margin-left: 40px;
  margin-right: 40px;
}

.news h2 {
  font-size: 28px;
  border-bottom: 1px solid #dcddde;
  padding-bottom: 5px;
  margin: 0;
  margin-bottom: 20px;
}

.news .news__news-item {
  margin-bottom: 40px;
}

.news .post-date {
  font-size: 12px;
  color: #555555;
  letter-spacing: 0.2px;
  font-weight: 600;
  margin-bottom: 10px;
}

.news .news__news-item h2 {
  font-family: "Oswald";
  border-bottom-width: 0;
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 0;
}

.news .news__news-item h2 a {
  color: #0033a0;
}

.news .view-footer a {
  color: #000000;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.25px;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}

.news .view-footer a:hover,
.news .view-footer a:focus {
  text-decoration: none;
  color: #0033a0;
}

.footer,
.footer a {
  color: #ffffff;
}

.footer {
  margin-top: 40px;
}

.footer h2 {
  font-weight: 400;
  font-family: "Oswald";
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.footer .lab-footer .block-title:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 50px;
  left: 0;
  border-bottom: 2px solid #b1c9e8;
}

.footer .lab-footer {
  background-color: #0033a0;
  padding: 40px;
  padding-bottom: 0;
  border-bottom: 1px solid #ffffff;
}

.footer .lab-footer a {
  color: #ffffff;
}

.lab-footer .block-block {
  margin-bottom: 40px;
}

.lab-footer .lab-footer__footer-block:last-child {
  margin-bottom: 0;
}

.lab-footer ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  margin-bottom: 0;
}

.lab-footer ul li {
  margin-bottom: 5px;
}

.lab-footer ul li:last-child {
  margin-bottom: 0;
}

.lab-footer p {
  font-size: 14px;
  margin-bottom: 0;
}

.footer .coe-footer {
  background-color: #2a2c29;
  padding: 40px;
}

.coe-footer .coe-footer__logo-container {
  margin-bottom: 20px;
}

.coe-footer .coe-footer__logo {
  max-height: 50px;
}

.coe-footer .coe-footer__global-footer span {
  margin-right: 6px;
  font-size: 14px;
}

.coe-footer .coe-footer__global-footer {
  width: auto;
}

.coe-footer .coe-footer__global-footer span::after {
  content: " |";
  padding-left: 6px;
}

.coe-footer .coe-footer__global-footer span:last-child {
  margin-right: 0;
}

.coe-footer .coe-footer__global-footer span:last-child::after {
  content: "";
  padding: 0;
}

.lab-breadcrumbs .breadcrumb {
  padding: 0 40px;
  background-color: transparent;
  font-size: 12px;
  margin-top: 20px;
}

.lab-breadcrumbs .breadcrumb a.active-trail {
  color: #0033a0;
}

.lab-content .page-header {
  margin-top: 40px;
}

.headshot-container {
  background-color: #dcddde;
  width: 100vw;
  padding: 40px;
  margin-left: -50vw;
  position: relative;
  left: 50%;
  margin-bottom: 40px;
}

.directory__name {
  font-family: "Oswald";
  color: #0033a0;
  font-size: 30px;
  margin-bottom: 10px;
  border-bottom-width: 0;
  padding: 0;
  font-weight: 400;
}

.directory__title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.directory__contact-container {
  margin-bottom: 40px;
}

.directory__contact {
  display: flex;
  align-items: center;
}

.directory__contact a,
.directory__contact a:hover,
.directory__contact a:focus,
.directory__research li {
  color: #0033a0;
}

.directory__contact .svg-inline--fa {
  color: #0033a0;
  margin-right: 10px;
}

.directory__research {
  margin-top: 40px;
}

.directory__research h4 {
  font-family: "Oswald";
  font-size: 16px;
  letter-spacing: 0.25px;
}

.directory__research .list-inline li::after {
  content: "\00a0\00a0|";
}

.directory__research .list-inline li:last-child::after {
  content: "";
}

.lab-content .page-header {
  font-family: "Oswald";
}

.view-cat-news h3,
.view-news h3 {
  font-family: "Oswald";
  font-size: 24px;
  color: #0033a0;
  margin-top: 0;
}

.view-cat-news h3 a,
.view-news h3 a {
  color: #0033a0;
}

.view-cat-news .views-row,
.view-news .views-row {
  margin-bottom: 30px;
}

.view-directory h3 {
  font-family: "Oswald";
  font-size: 24px;
  margin-top: 0;
}

.view-directory a,
.view-directory a:hover,
.view-directory a:focus {
  color: #0033a0;
}

.directory__column {
  margin-bottom: 30px;
}

.directory__column h3 {
  font-family: "Oswald";
  font-size: 28px;
  color: #0033a0;
  margin-top: 15px;
  margin-bottom: 5px;
}

.directory__column h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.block-menu-block ul {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
}

.region-sidebar-first.well {
  background-color: #e5e5e6;
  border: 1px solid #cccccc;
  margin-top: 40px;
}

.block-menu-block a {
  color: #000000;
}

.block-menu-block .block-title a {
  display: block;
  color: #0033a0;
}

.block-menu-block ul li a {
  padding: 5px 5px;
}

.block-menu-block > ul > li:first-child > a {
  border-top: 1px solid #e1e0e0;
}

.block-menu-block ul li a:hover,
.block-menu-block ul li a:focus {
  text-decoration: underline;
}

.block-menu-block .active > a {
  border-left: 3px solid #0033a0;
  padding-left: 13px;
}

.block-menu-block .expanded ul {
  margin-bottom: 0;
}

.block-menu-block .expanded ul a {
  padding: 13px 13px 13px 30px;
}

.block-menu-block .expanded ul a:hover {
  text-decoration: underline;
}

.block-menu-block .nav > li > a:focus,
.block-menu-block .nav > li > a:hover {
  background-color: transparent;
}

article.node-news {
  margin-top: 40px;
}

.news__featured-image {
  margin-bottom: 40px;
}

.news__post-date {
  font-size: 14px;
  color: #666666;
  font-weight: 600;
}

.news__news-title {
  font-family: "Oswald";
  color: #0033a0;
  font-size: 36px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .header__logo-container {
    justify-content: flex-start;
  }

  .header__coe-link {
    display: block;
  }

  .header__logo {
    max-height: 50px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #dcddde;
  }

  .header__logo--small {
    display: none;
  }

  .header__logo--large {
    display: block;
  }

  .header__site-name {
    font-size: 24px;
  }

  .primary-nav {
    padding: 0 40px;
  }

  .primary-nav .menu-item {
    border-bottom-width: 0;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }

  .primary-nav .menu-item a {
    line-height: 15px;
    padding-top: 12px;
    padding-bottom: 10px;
    color: #b1c9e8;
  }

  .lab-button-group .lab-button-group__button {
    font-size: 12px;
    letter-spacing: 0.75px;
  }

  .primary-nav .menu-item:hover .dropdown-menu {
    display: block;
    border-width: 0;
    border-bottom: 3px solid #0033a0;
    margin: 0;
  }

  .primary-nav .menu-item .dropdown-menu a {
    font-family: "Nunito Sans";
    color: #000000;
    text-align: left;
    text-transform: none;
    letter-spacing: 0.25px;
    font-size: 14px;
    padding: 5px 15px;
  }

  .primary-nav .menu-item .dropdown-menu .active a {
    background-color: transparent;
    color: #0033a0;
  }

  .lab-slider .carousel-caption h3,
  .lab-slider .carousel-caption p {
    font-size: 18px;
  }

  .primary-nav .menu-item .dropdown-menu a:focus,
  .primary-nav .menu-item .dropdown-menu a:hover {
    background-color: transparent;
    color: #0033a0;
  }

  .lab-footer .region-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .directory__headshot-info {
    display: flex;
  }

  .field-name-field-headshot {
    margin-right: 40px;
  }

  .directory__name {
    margin-top: 10px;
    font-size: 36px;
    letter-spacing: -0.5px;
  }

  .directory__title {
    font-size: 20px;
  }

  .directory__extra-info {
    display: flex;
  }

  .directory__contact-container {
    margin-right: 40px;
  }
}

@media (min-width: 1080px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
  }

  .header,
  .lab__content-wrapper,
  .news,
  .lab-messages,
  .coe-footer__wrapper,
  .lab-breadcrumbs .breadcrumb,
  .directory__headshot-info {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .lab-content {
    width: 100%;
    margin-bottom: 40px;
  }

  .lab-breadcrumbs .breadcrumb {
    margin-top: 20px;
  }

  .primary-nav {
    padding: 0;
  }

  .primary-nav .navbar-collapse {
    display: flex !important;
    justify-content: center;
  }

  .primary-nav .navbar-nav {
    width: 1000px;
  }

  .primary-nav .menu-item a {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lab-slider .carousel-inner .item img {
    margin-left: auto;
    margin-right: auto;
  }

  .news .news__news-item {
    width: calc(920px / 3);
  }

  .view-news .view-content div {
    margin-right: 40px;
  }

  .news .view-content {
    display: flex;
    justify-content: flex-start;
  }

  .view-news .view-content div:last-child {
    margin-right: 0;
  }

  .news .view-footer {
    text-align: center;
  }

  .lab-footer .region-footer {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
  }

  .lab-footer .block-block {
    width: 220px;
    margin-right: 40px;
  }

  .lab-footer .region-footer .block-block:last-child {
    margin-right: 0;
  }

  .coe-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .coe-footer .coe-footer__logo-container {
    margin-bottom: 0;
  }

  .region-sidebar-first {
    min-width: 250px;
    margin-right: 40px;
  }
  .lab__content-wrapper {
    display: flex;
  }

  .news__news-title {
    font-size: 48px;
  }
}

/* .news .view-content div:last-child .news__news-item {
	margin-bottom: 0;
} */

/* 


.engr_lab-top_bar {
	height: 20px;
	background-color: #0033a0;
	border-bottom: 2px solid #B1C9E8;
}

.engr_lab-wrapper {
	padding: 20px 40px 0 40px;
}

.engr_lab-header {
	margin-bottom: 20px;
}

.engr_lab-logo {
	height: 50px;
}

.engr_lab-sitename {
	font-size: 18px;
	margin-bottom: 0;
	
}

.engr_lab-sitename a {
	color: #0033a0;
}

.engr_lab-header .navbar-toggle {
	padding-right: 0;
}

.engr_lab-nav {
	margin-bottom: 20px;
}

.engr_lab-nav .nav li a {
	color: #000000;
}

.engr_lab-nav .navbar-nav {
	margin: 0;
}

.engr_lab-home_content {
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.1px;
}

.engr_lab-slider .carousel-caption p {
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 1.25;
}

.engr_lab-highlighted {
	font-size: 14px;
}

.engr_lab-home_news h2 {
	font-size: 24px;
	border-bottom: 1px solid #DCDDDE;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

.engr_lab-news_item p {
	font-size: 14px;
	letter-spacing: 0.2px;
}

.engr_lab-news_item .post-date {
	color: #555555;
	font-size: 12px;
	letter-spacing: 0.25px;
	margin-bottom: 10px;
}

.engr_lab-news_item {
	margin-bottom: 40px;
}

.engr_lab-news_item h2 {
	border-bottom-width: 0;
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 0;
}

.lab-button-group p {
	margin-bottom: 10px;
}

.lab-button-group .container-fluid .row:last-child .col-xs-12:last-child p {
	margin-bottom: 0;
}

.lab_button {
	background-color: #0033a0;
	color: #ffffff;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	padding: 0 20px;
	height: 50px;
	font-size: 14px;
}

.engr_lab-lab_footer {
	background-color: #0033a0;
	color: #ffffff;
	padding: 40px;
	padding-right: 0;
	padding-bottom: 0;
	border-bottom: 1px solid #ffffff;

}

.engr_lab-lab_footer .region-footer {
	display: grid;
}

.engr_lab-lab_footer .block {
	margin-bottom: 40px;
	margin-right: 40px;
}

.engr_lab-lab_footer .block-title {
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
}

.engr_lab-lab_footer .block-title:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 50px;
	left: 0;
	border-bottom: 2px solid #B1C9E8;
}

.engr_lab-lab_footer p {
	font-size: 14px;
	margin-bottom: 0;
}

.engr_lab-lab_footer ul {
	list-style: none;
	padding-left: 0;
	font-size: 14px;
	margin-bottom: 0;
}

.engr_lab-lab_footer ul li {
	margin-bottom: 5px;
}

.engr_lab-lab_footer ul li:last-child {
	margin-bottom: 0;
}

.engr_lab-lab_footer a {
	color: #ffffff;
}

.engr_lab-footer {
	padding: 40px;
	background-color: #2C2A29;
}

.engr_lab-global_footer,
.engr_lab-global_footer a {
	color: #ffffff;
	font-size: 14px;
	letter-spacing: 0.1px;
}

.engr_lab-footer .engr_lab-coe_logo {
	margin-bottom: 20px;
}

.engr_lab-global_footer span {
	margin-right: 8px;
}

.engr_lab-global_footer span::after {
	content: " |";
	padding-left: 8px;
}

.engr_lab-global_footer span:last-child::after {
	content: "";
	padding: 0;
}

@media (min-width: 768px) {
	.engr_lab-lab_footer .region-footer {
		grid-template-columns: 1fr 1fr;
	}

	.lab-button-group p {
		margin-bottom: 0;
	}
	.lab-button-group .row {
		margin-bottom: 10px;
	}
	
	.lab-button-group .row:last-child {
		margin-bottom: 0;
	}

	.engr_lab-header {
		display: flex;
		align-items: center;
	}

	.engr_lab-header .engr_lab-sitename {
		margin-top: 0;
	}

	.engr_lab-header .engr_lab-logo {
		padding-right: 20px;
		margin-right: 20px;
		border-right: 1px solid #DCDDDE;
	}
}
 */
